.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.cache/
.quarto_tmp/
**/.quarto_tmp/
docs/*/*/.gitignore
**/*_files/
.ruff_cache/
.mypy_cache/
.quarto/
*_files/
.DS_Store

.build/
salidas/

/.quarto/
**/*.quarto_ipynb
